body {
   /* max-width: 760px; */
   width: 100%;
   margin: 0 auto;
   background-color: #fff;
}

.navigation .next-arrow,
.navigation .prev-arrow {
   font-size: 50px;
   background-color: rgba(0, 0, 0, 0.274);
   display: flex;
   padding: 5px 12px;
   color: #fff;
   align-items: center;
   width: fit-content;
   cursor: pointer;
   opacity: 0.3;
   transition: 0.5s;
}
.navigation .next-arrow:hover,
.navigation .prev-arrow:hover {
   background-color: rgba(0, 0, 0, 0.692);
   opacity: 1;
   transition: 0.5s;
}
.navigation .next-arrow {
   position: absolute;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
   border-radius: 5px 0 0 5px;
}
.navigation .prev-arrow {
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
   border-radius: 0 5px 5px 0;
}
/* Home Deal */

.home_deal__heading {
   background-color: #fff;
   padding: 12px;
   border-bottom: 1px solid #fff5ec;
}
.home_deal__heading img:nth-child(2) {
   width: 10%;
}
.home_deal__wrap {
   background-color: #fff;
   justify-content: space-between;
}
.home_deal__item {
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 20%;
   padding: 12px;
}
.home_deal__item:hover {
   box-shadow: 0 0 8px rgba(201, 200, 200, 0.507);
}
.deal__img {
   width: 100%;
}
.deal__img img {
   width: 100%;
}
.deal__discount {
   background-color: rgb(255, 66, 78);
   color: rgb(255, 255, 255);
   font-size: 13px;
   line-height: 20px;
   font-weight: 500;
   position: absolute;
   z-index: 3;
   top: 0px;
   left: 0px;
   border-radius: 4px 0px 26px;
   padding: 2px 8px 4px 2px;
}
.deal__price {
   font-weight: bold;
   margin: 10px 0;
   font-size: 13px;
}

.deal__qty {
   background-color: rgb(255, 170, 175);
   color: rgb(255, 255, 255);
   border-radius: 10px;
   position: relative;
   display: flex;
   width: 100%;
   height: 15px;
}

.deal__progress {
   background-color: rgb(255, 78, 90);
   border-radius: 10px;
}
.deal__qty span {
   font-size: 12px;
   position: absolute;
   top: 50%; /* position the top  edge of the element at the middle of the parent */
   left: 50%; /* position the left edge of the element at the middle of the parent */
   transform: translate(-50%, -50%);
}

/* QuickLinks */
.home_quicklinks {
   justify-content: space-around;
   /* padding: 12px; */
}
.quicklink_item {
   flex-direction: column;
   max-width: 30%;
   align-items: center;
   padding: 12px 0;
}
.quicklink_item:hover {
   box-shadow: 0 0 5px rgba(160, 160, 160, 0.288);
}
.quicklink_item > .thumb {
   width: 40%;
}
.quicklink_item > .title {
   font-size: 13px;
   margin: 12px 0;
   color: #000;
   text-align: center;
}

/* Primary banner */

.home_banner_primary {
   justify-content: space-between;
   height: 100%;
   flex-wrap: wrap;
   background-color: #fff;
   border-radius: 10px;
   overflow: hidden;
}
.banner_primary__item {
   max-width: 49%;
   width: 100%;
   border-radius: 10px;
   overflow: hidden;
   margin-bottom: 10px;
}

.home_top_category .heading {
   text-transform: uppercase;
   padding: 12px;
   font-size: 20px;
}
.top_category__item {
   max-width: 20%;
   width: 100%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 20px 12px;
}
.top_category__item > .thumb {
   background-color: rgba(27, 168, 255, 0.07);
   border-radius: 35%;
   overflow: hidden;
   text-align: center;
   object-fit: contain;
   width: fit-content;
   width: 50%;
}
.top_category__item > .thumb > img {
   width: 100%;
   mix-blend-mode: multiply;
   object-fit: contain;
}
.top_category__item > .title {
   font-size: 13px;
   text-align: center;
   color: #000;
   margin-top: 12px;
   width: 70%;
}

/* Top Search Home */
.home_top_search .body {
   padding: 12px;
}
.home_top_search .heading__title {
   text-transform: uppercase;
   padding: 12px;
   font-size: 15px;
   align-items: center;
}
.home_top_search .heading__title > img {
   width: 8%;
   margin-right: 5px;
}

.home_top_search .heading__more {
   font-size: 14px;
   line-height: 24px;
   color: rgb(13, 92, 182);
   cursor: pointer;
   align-items: center;
   padding: 12px;
}
.home_top_search .heading__more > img {
   width: 13%;
   margin-right: 5px;
   /* transform: rotate(200deg); */
}
.home_top_search__item {
   max-width: 49%;
   width: 100%;
   border: 1px solid #fff5ec;
   border-radius: 5px;
   overflow: hidden;
   margin-bottom: 10px;
}
.picture-group {
   justify-content: space-around;
}
.home_top_search__item .item_img_container {
   width: 30%;
}
.home_top_search__item .item_img_container > img {
   width: 100%;
}
.home_top_search__item .content {
   padding: 12px;
   background-color: rgb(211, 238, 255);
   display: flex;
   flex-direction: column;
}
.home_top_search__item .content .title {
   color: #000;
   /* font-weight: bold; */
}

.home_top_search__item .content .sub-title {
   font-size: 13px;
   line-height: 1.54;
   color: rgb(120, 120, 120);
}

.home_top_search .home_top_search__item:nth-child(2) .content {
   background-color: rgb(255, 241, 241);
}
.home_top_search .home_top_search__item:nth-child(3) .content {
   background-color: rgb(252, 248, 228);
}
.home_top_search .home_top_search__item:nth-child(4) .content {
   background-color: rgb(231, 248, 241);
}

/* Middle Banner */
.home_banner_middle{
   background-color: #fff;
}
.home_banner_middle .home_banner_middle_item {
   width: 100%;
   /* border-radius: 20px; */
   overflow: hidden;
}
.home_banner_middle .home_banner_middle_item > img {
   width: 100%;
}

/* Products Section */
.home_products_list_content {
   display: grid;
   grid-template-columns: repeat(2, 50%);
}
.home_products_list .header {
   border-bottom: 1px solid #e0e0df;
}
.home_products_list .tab {
   margin: 0 30px;
   font-weight: bold;
   text-transform: uppercase;
   cursor: pointer;
}
.home_products_list .tab.active {
   color: orangered;
   border-bottom: 5px solid orangered;
}
.checked {
   color: orange;
}
.home_product_item {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   /* margin-right: 12px; */
   margin-bottom: 12px;
   padding: 12px;
   border-radius: 5px;
   padding-bottom: 35px;
}
.home_product_item:hover {
   box-shadow: 0 0 10px #b8b8b8b2;
}
.home_product_item .thumb {
   width: 80%;
}
.home_product_item .thumb > img {
   width: 100%;
}
.home_product_item .info .name {
   font-size: 12px;
   color: #000;
   width: 100%;
}

.home_product_item .info .rating {
   font-size: 10px;
   color: #000;
}

.home_product_item .info .price {
   color: #000;
   font-size: 14px;
}
.home_product_item .info .price .discount {
   display: inline-block;
   font-size: 13px;
   line-height: 20px;
   border-radius: 2px;
   background: rgb(255, 66, 78);
   color: white;
   padding: 0px 2px;
}

.home_products_list_more > a {
   cursor: pointer;
   display: block;
   padding: 8px 12px;
   border-radius: 4px;
   border: 1px solid rgb(13, 92, 182);
   color: rgb(13, 92, 182);
   font-size: 13px;
   text-align: center;
   width: 240px;
   margin: 0 auto;
   font-weight: bold;
}
.home_products_list_more > a:hover {
   background-color: rgb(13, 92, 182);
   color: #fff;
   transition: 0.5s;
}

/* Footer */

/* Footer NewsLetter */
.news_letter-icon {
   width: 15%;
}
.news_letter-description {
   width: 35%;
}
.news_letter-form {
   width: 40%;
}
.news_letter-form > div {
   flex: 1;
}
.news_letter-form > div > input {
   height: 34px;
   background-color: rgb(255, 255, 255);
   border: 1px solid rgb(204, 204, 204);
   border-radius: 4px;
   padding: 0 12px;
}
.news_letter-form button {
   cursor: pointer;
   height: 34px;
   padding: 6px 12px;
   color: rgb(255, 255, 255);
   font-size: 14px;
   line-height: 1.42857;
   border: none;
   border-radius: 4px;
   background-color: rgb(0, 175, 239);
   outline: none;
}

/* Footer Info */
.footer_information h4 {
   margin: 0px 0px 17px;
   color: rgb(51, 51, 51);
   font-size: 13px;
   font-weight: 600;
   text-transform: uppercase;
}
.footer_information .block {
   width: 20%;
   margin-right: 10px;
}
.footer_information .block .hotline {
   margin-bottom: 10px;
   color: rgb(196, 1, 26);
   font-size: 14px;
   font-weight: 600;
   line-height: 18px;
}
.footer_information .block .small-text {
   display: block;
   margin-bottom: 11px;
   color: rgb(51, 51, 51);
   font-size: 12px;
   font-weight: normal;
}
.footer_information .block .icon {
   width: 20%;
   margin-right: 12px;
   margin-bottom: 12px;
}
.footer_information .block .icon > img {
   width: 70%;
}

/* Responsive */


