.account_cart_ordered{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 1px;
    min-height: 400px;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}
.account_cart_ordered.mobile{
    display: none;
}
.account_cart_item{
    display: block;
    padding: 20px 10px;
    border-bottom: 1px solid #dbdbdb;
}
.account_cart_item_name{
    margin-bottom: 10px;
    color: #000;
}
.account_cart_item_name~p{
    font-size: 13px;
    margin-bottom: 5px;
    color: #000;
}
.account_cart_ordered table{
    border-collapse: collapse;
    width: 100%;
    word-break: break-word;
}

.account_cart_ordered table tr{
    border-bottom: 1px solid rgb(244, 244, 244);
}
.account_cart_ordered table th{
    max-width: 20%;
    padding: 20px 15px;
    color: rgb(120, 120, 120);
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}
.account_cart_ordered table td{
    max-width: 20%;
    padding: 20px 15px;
    color: rgb(120, 120, 120);
    font-weight: 400;
    text-align: left;
    font-size: 13px;
}
@media (max-width: 1025px) {
    /* .account_cart_ordered{
        display: none;
    } */
    /* .account_cart_ordered.mobile{
        display: none;
    } */
}

@media only screen and (max-width: 768px) {
    .account_cart_ordered{
        display: none;
    }
    .account_cart_ordered.mobile{
        display: block;
    }
  
}